In [1]:
import pandas as pd
import numpy as np

In [2]:
cell_phones = pd.read_csv("https://raw.githubusercontent.com/zalihat/cell_phone_dataset/master/cell_phones.csv")
population = pd.read_csv("https://raw.githubusercontent.com/zalihat/cell_phone_dataset/master/population1.csv")

In [3]:
country_codes = pd.read_html("https://github.com/open-numbers/ddf--gapminder--systema_globalis/blob/master/ddf--entities--geo--country.csv")
country_codes = country_codes[0]

In [4]:
phones_population = pd.merge(cell_phones,population, how = 'inner')
phones_population

           Country  year  cell_phones_total  population
0      Afghanistan  1960                0.0     9000000
1      Afghanistan  1961                0.0     9170000
2      Afghanistan  1962                0.0     9350000
3      Afghanistan  1963                0.0     9540000
4      Afghanistan  1964                0.0     9740000
...            ...   ...                ...         ...
11635     Zimbabwe  2015         12800000.0    13800000
11636     Zimbabwe  2016         12900000.0    14000000
11637     Zimbabwe  2017         14100000.0    14200000
11638     Zimbabwe  2018         12900000.0    14400000
11639     Zimbabwe  2019         13200000.0    14600000

[11640 rows x 4 columns]

In [5]:
country_codes = country_codes[['country','name']].rename(columns={'country':'geo', 'name':'Country'})
phones_population_codes = pd.merge(phones_population,country_codes)
phones_population_codes

           Country  year  cell_phones_total  population  geo
0      Afghanistan  1960                0.0     9000000  afg
1      Afghanistan  1961                0.0     9170000  afg
2      Afghanistan  1962                0.0     9350000  afg
3      Afghanistan  1963                0.0     9540000  afg
4      Afghanistan  1964                0.0     9740000  afg
...            ...   ...                ...         ...  ...
11635     Zimbabwe  2015         12800000.0    13800000  zwe
11636     Zimbabwe  2016         12900000.0    14000000  zwe
11637     Zimbabwe  2017         14100000.0    14200000  zwe
11638     Zimbabwe  2018         12900000.0    14400000  zwe
11639     Zimbabwe  2019         13200000.0    14600000  zwe

[11640 rows x 5 columns]

In [6]:
phones_population_codes['cell_phones_per_person'] = phones_population_codes['cell_phones_total']/phones_population_codes['population']
phones_population_codes

,Country,year,cell_phones_total,population,geo,cell_phones_per_person
0,Afghanistan,1960,0.0,9000000,afg,0.000000
1,Afghanistan,1961,0.0,9170000,afg,0.000000
2,Afghanistan,1962,0.0,9350000,afg,0.000000
3,Afghanistan,1963,0.0,9540000,afg,0.000000
4,Afghanistan,1964,0.0,9740000,afg,0.000000
...,...,...,...,...,...,...
11635,Zimbabwe,2015,12800000.0,13800000,zwe,0.927536
11636,Zimbabwe,2016,12900000.0,14000000,zwe,0.921429
11637,Zimbabwe,2017,14100000.0,14200000,zwe,0.992958
11638,Zimbabwe,2018,12900000.0,14400000,zwe,0.895833
11639,Zimbabwe,2019,13200000.0,14600000,zwe,0.904110

In [7]:
phones_population_codes.loc[phones_population_codes['Country']== 'United States']

,Country,year,cell_phones_total,population,geo,cell_phones_per_person
11100,United States,1960,0.0,187000000,usa,0.000000
11101,United States,1961,0.0,190000000,usa,0.000000
11102,United States,1962,0.0,192000000,usa,0.000000
11103,United States,1963,0.0,195000000,usa,0.000000
11104,United States,1964,0.0,197000000,usa,0.000000
11105,United States,1965,0.0,200000000,usa,0.000000
11106,United States,1966,0.0,202000000,usa,0.000000
11107,United States,1967,0.0,204000000,usa,0.000000
11108,United States,1968,0.0,206000000,usa,0.000000
11109,United States,1969,0.0,208000000,usa,0.000000
11110,United States,1970,0.0,210000000,usa,0.000000
11111,United States,1971,0.0,211000000,usa,0.000000
11112,United States,1972,0.0,213000000,usa,0.000000
11113,United States,1973,0.0,215000000,usa,0.000000
11114,United States,1974,0.0,217000000,usa,0.000000
11115,United States,1975,0.0,219000000,usa,0.000000
11116,United States,1976,0.0,221000000,usa,0.000000
11117,United States,1977,0.0,223000000,usa,0.000000
11118,United States,1978,0.0,225000000,usa,0.000000
11119,United States,1979,0.0,227000000,usa,0.000000
11120,United States,1980,0.0,229000000,usa,0.000000
11121,United States,1981,0.0,232000000,usa,0.000000
11122,United States,1982,0.0,234000000,usa,0.000000
11123,United States,1983,0.0,236000000,usa,0.000000
11124,United States,1984,91600.0,238000000,usa,0.000385
11125,United States,1985,340000.0,240000000,usa,0.001417
11126,United States,1986,682000.0,243000000,usa,0.002807
11127,United States,1987,1230000.0,245000000,usa,0.005020
11128,United States,1988,2070000.0,247000000,usa,0.008381
11129,United States,1989,3510000.0,250000000,usa,0.014040
11130,United States,1990,5280000.0,252000000,usa,0.020952
11131,United States,1991,7560000.0,255000000,usa,0.029647
11132,United States,1992,11000000.0,257000000,usa,0.042802
11133,United States,1993,16000000.0,260000000,usa,0.061538
11134,United States,1994,24100000.0,262000000,usa,0.091985
11135,United States,1995,33800000.0,265000000,usa,0.127547
11136,United States,1996,44000000.0,268000000,usa,0.164179
11137,United States,1997,55300000.0,272000000,usa,0.203309
11138,United States,1998,69200000.0,275000000,usa,0.251636
11139,United States,1999,86000000.0,279000000,usa,0.308244
11140,United States,2000,109000000.0,282000000,usa,0.386525
11141,United States,2001,129000000.0,285000000,usa,0.452632
11142,United States,2002,142000000.0,287000000,usa,0.494774
11143,United States,2003,161000000.0,290000000,usa,0.555172
11144,United States,2004,185000000.0,292000000,usa,0.633562
11145,United States,2005,204000000.0,295000000,usa,0.691525
11146,United States,2006,230000000.0,298000000,usa,0.771812
11147,United States,2007,249000000.0,301000000,usa,0.827243
11148,United States,2008,261000000.0,303000000,usa,0.861386
11149,United States,2009,274000000.0,306000000,usa,0.895425
11150,United States,2010,285000000.0,309000000,usa,0.922330
11151,United States,2011,297000000.0,312000000,usa,0.951923
11152,United States,2012,305000000.0,314000000,usa,0.971338
11153,United States,2013,311000000.0,316000000,usa,0.984177
11154,United States,2014,356000000.0,319000000,usa,1.115987
11155,United States,2015,382000000.0,321000000,usa,1.190031
11156,United States,2016,396000000.0,323000000,usa,1.226006
11157,United States,2017,400000000.0,325000000,usa,1.230769
11158,United States,2018,422000000.0,327000000,usa,1.290520
11159,United States,2019,0.0,329000000,usa,0.000000

In [8]:
phones_population_codes['geo'] = phones_population_codes['geo'].str.upper()
phones_population_codes

,Country,year,cell_phones_total,population,geo,cell_phones_per_person
0,Afghanistan,1960,0.0,9000000,AFG,0.000000
1,Afghanistan,1961,0.0,9170000,AFG,0.000000
2,Afghanistan,1962,0.0,9350000,AFG,0.000000
3,Afghanistan,1963,0.0,9540000,AFG,0.000000
4,Afghanistan,1964,0.0,9740000,AFG,0.000000
...,...,...,...,...,...,...
11635,Zimbabwe,2015,12800000.0,13800000,ZWE,0.927536
11636,Zimbabwe,2016,12900000.0,14000000,ZWE,0.921429
11637,Zimbabwe,2017,14100000.0,14200000,ZWE,0.992958
11638,Zimbabwe,2018,12900000.0,14400000,ZWE,0.895833
11639,Zimbabwe,2019,13200000.0,14600000,ZWE,0.904110

In [9]:
phones_population_codes.describe()

               year  cell_phones_total    population  cell_phones_per_person
count  11640.000000       1.164000e+04  1.164000e+04            11640.000000
mean    1989.500000       7.875722e+06  2.710307e+07                0.235536
std       17.318846       5.572496e+07  1.086187e+08                0.433303
min     1960.000000       0.000000e+00  4.380000e+03                0.000000
25%     1974.750000       0.000000e+00  1.117500e+06                0.000000
50%     1989.500000       0.000000e+00  5.100000e+06                0.000000
75%     2004.250000       5.615000e+05  1.590000e+07                0.233667
max     2019.000000       1.730000e+09  1.430000e+09                2.126068

In [10]:
phones_population_codes.describe(include = [object])

       Country    geo
count    11640  11640
unique     194    194
top      China    LUX
freq        60     60

In [11]:
phones_population_codes2017 = phones_population_codes.loc[phones_population_codes['year'] == 2017]
phones_population_codes2017 = phones_population_codes2017.sort_values(by = 'cell_phones_total', ascending = False).head(5)
phones_population_codes2017[['Country','cell_phones_total']]

             Country  cell_phones_total
2157           China       1.470000e+09
4617           India       1.170000e+09
4677       Indonesia       4.350000e+08
11157  United States       4.000000e+08
8577          Russia       2.270000e+08